.con select{
    width: 150px;
    height: 3rem;
    font-size: 1rem;

	border: 0px solid #C9C9C9e6;
    border-radius: 0px;
    border-bottom: 1px solid #C9C9C9e6;
	
	outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;

	float:left;

    -webkit-appearance:none;
    
	background:url('../../assets/Arrow.png');
	background-repeat:no-repeat;
	 background-size:16px 17px; 
    background-position:right 0px;
    
    /* width:150px;
    border:1px solid #ccc */

}


.con{

    /* overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
    width: 150px;
    size: 10px; */




    height: 150px;

    width: 150px;
 }
 /* .wrapper .selection{
   width:150px;
   border:1px solid #ccc
 } */

 .content{
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .content hi{
 margin: 10pc;
}